@using Blog.Pages.Entries
@using Blog.Pages
@inherits LayoutComponentBase

<div id="layout" class="content pure-g">
    <div id="nav" class="pure-u">
        <a href="#" id="menuLink" class="nav-menu-button">Menu</a>
        <div class="nav-inner">
            <NavMenu/>
        </div>
    </div>

    <div id="list" class="pure-u-1">
        <NavLink href="/whoami">
            <WhoAmI Sample="true" />
        </NavLink>
        
        <NewList/>
    </div>

    <div id="main" class="pure-u-1">
        @Body
    </div>
</div>