<button class="primary-button pure-button">wmd-blog</button>

<div class="pure-menu">
    <ul class="pure-menu-list">
        <li class="pure-menu-item">
            <NavLink ActiveClass="pure-menu-link-selected" class="pure-menu-link" href="" Match="NavLinkMatch.All">
                Home
                <span class="email-count">(2)</span>
            </NavLink>
        </li>
        <li class="pure-menu-item">
            <NavLink class="pure-menu-link" href="https://registry.jsonresume.org/joro550">
                Resume
            </NavLink>
        </li>
        
        
        @* <li class="pure-menu-heading">Labels</li> *@
        @* <li class="pure-menu-item"><a href="#" class="pure-menu-link"><span class="email-label-travel"></span>Travel</a></li> *@
    </ul>
</div>
