@page "/2021_11_22"
<Article Title="2021/11/22 - Taking the driving wheel" Href="2021_11_22" Sample="@Sample">
    <SampleContent>
        <p>
            Recently I've been looking at some of my relationships (people sometimes don't like me using
            this particular word when it comes to friendships but that's what I refer to them as, so deal 
            with it, I guess) and a lot has been playing on my mnid around what people expect. I have 
            friends, some old some new - normally I don't think too much about my connection to each friend
            but recently some events has caused a deeper... analysis(?) (that sounds like a cold term for 
            what I'm describing) of relationships and what I have experienced.
        </p>
        
        <p>
            I like to describe things via analogies, for this I would like for you to imagine that a relationship is a 
            drive in a car, two people are in the car when I invite you to an event and take you around that's
            me taking the "driving wheel" of the relationship and when you invite me to an event that's you taking the
            "driving wheel" of the relationship.
        </p>
        
        <p>
            Over the years I've had different forms of relationships with people, some I have felt that I have
            to take the steering wheel more often than I was comfterble with, I'm going to take an old relationship
            as an example - let's call this person Ron, I don't know a Ron probably never will but Ron is a good name.
            <br/>
            Ron was a school friend and when we were young I used to walk to Ron's house, we'd walk around a little bit
            and then end up in my house... This happened everytime me and Ron hung out together and one day it struck me
            why am I putting the effort to go to Ron's house just to walk back to my house to hang out?
        </p>
    </SampleContent>
    <FullContent>
        <p>
            Me and Ron don't talk much anymore and that makes me a little sad because me and Ron were good friends
            but I feel like I was taking the driving wheel more than him, he was a passenger and what's worse is that 
            he was asking me to drive to where I began. It felt like I wasn't benefitting as much as Ron.
        </p>
        
        <p>
            More recently I have a friend let's call him Jim, I know a Jimmy, but it's not him. Jim is a dear old
            friend but once again I feel like I am in the driving seat, I invite Jim to hang out, to go to lunch with
            I want to go for a quiet drink with Jim like I did when we were a little younger. But it seems that Jim no 
            longer has the capacity to do this.
        </p>
        
        <p>
            I want to take an example because I also like examples, I invited Jim out to a night out with me and my partner,
            he would bring his partner and we could all chill and have some lunch. Jim's dog got anxious at some fireworks
            that were being let off at the time and it so happened that we didn't go out that night. Jim has not rescheduled
            this meetup, and I don't know whether I have the capacity at this time to take the steering wheel of the relationship.
            
            <br/><br/>... Maybe this is something I shouold communicate with Jim?
        </p>
        
        <p>
            I had another high school friend who I recently confessed to that I no longer trust him with keeping plans, he
            rarely makes plans with me but when he does and I decide to make an effort he makes an excuse last minute and breaks 
            the plans, and I decided enough was enough and tell this person that I was sick of him doing this.
            
            <br/><br/>
            
            This felt particularly satisfying as he recently told me to engage more with him (and some other people who I 
            grew up with - and after moving away lost contact with) but I told him that if he truely wants this that he 
            also had to start making an effort, and it couldn't just be me.
        </p>
        
        <p>
            A few years ago I had a friend who moved countries, he didn't come back very often but each time he did he hit me
            with "Oh I haven't heard from you in a while, why didn't you message" this always made me feel a little bad
            until I realized that he had the same oppertunity that I did to message me. Now I see that the relationship 
            obviously didn't work because neither of us put in the effort - neither of us wanted to take the driving wheel.
        </p>
        
        <p>
            Relationships for me are a little give and take, but I feel recently besides from a small amount of relationships
            I feel like I'm giving and not taking.
        </p>
    </FullContent>
</Article>


@code {
    [Parameter] public bool Sample { get; set; }
}